.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-unused {
  display: flex;
  height: auto;
  width: auto;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.App .App-header {
  min-height: 100vh;
}

.App .App-header .App-unused {
  display: none;
}
